@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
*{
    box-sizing: border-box;
}

html,body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

html {
  background: #58DDAF;
  color: #2a2a2a;
}

body{
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center; /*centers items on the cross-axis (y by default)*/
    min-height: 100vh;
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#slotContainer{
    width: 100%;
    max-width: 1000px;
    border: 0px solid transparent;
    transition: border 0.8s ease-out;
}

#slotContainer:after{
    clear: both;
    display: block;
    content: '';
}

.hidden{
    display: none;
}

.ready{
    border: 10px solid #c8d6e5 !important;
}

.container{
    max-width: 1000px;
    width: 100%;
    display: none;
}

.slot{
    position: relative;
    overflow: hidden;
    float: left;
}

.slot ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100px;
  list-style: none;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.slot:first-child ul {
    border-left: 0;
}

.slot:last-child ul {
    border-right: 0;
}

.slot ul li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  height: 100px;
  background: #8395a7;
  text-align: center;
  line-height: 100px;
}

.slot ul li.secondItem{
    background: #576574;
    color: white;
}

.btn{
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    font-weight: 400;
}

.btn-start{
    background-color: #0abde3;
    border-color: #0abde3;
}

#groupOutcomes{
    min-height: 300px;
}
#groupOutcomes ul{
    min-height: 300px;
    list-style: none;
    background: #8395a7;
    color: white;
    text-transform: uppercase;
    border: 10px solid #c8d6e5;
    float: left;
    padding: 0;
}

#groupOutcomes ul:not(:first-child){
    border-left: 0;
}

#groupOutcomes ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#groupOutcomes ul li.heading{
    text-decoration: underline;
    font-weight: bold;
    border-bottom: 5px solid #c8d6e5;
}

#stopSpin{
    display: none;
}

.btn-stop{
    background-color: #ee5253;
    border-color: #ee5253;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0abde3 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
